
.movie{
    height:150px;
    margin-right: 20px;
    border-radius: 10px;
    width: 110px;
    object-fit: cover;
}
h2{
    position: relative;
    left:10px;
    margin-bottom:10px;
}
#wrapper{
    margin:20px 30px 20px 70px;
}
@media only screen and (max-width: 775px) {
    
    
    #wrapper{
        margin:50px auto 10px;
    }
    #scroll,#scroll2,#scroll3{
        overflow-x: auto; /* Permet le défilement horizontal lorsque le contenu dépasse */

    }
}
